@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .first-info
    padding: 27px 21px 30px 17px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-slider
      margin-bottom: 30px
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 580px
      &__button
        top: 45.5%
        &--prev
          left: 0
        &--next
          right: 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .packages
    &-advisor
      grid-template-columns: repeat(2, 50%)
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: repeat(7,1fr)
      row-gap: 38px
      column-gap: 0px
    &__logo
      grid-row: 1 / 2
      grid-column: 1 / 3
      max-width: 104px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
    &__legal
      grid-column: span 2
      padding-left: 0
    &__additional
      grid-column: span 3
    &__contact
      &-detail
        grid-row: 3
        grid-column: span 5
      &-form
        grid-row: 4
        grid-column: span 5
    &__input
      &-group
        flex-basis: 48%
    &__title
      &--mt
        &--1
          margin-top: 23px
@media (max-width: 768px)
  .container
    max-width: 760px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &--fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 99
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: flex
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &__search
      margin-top: 7px
      margin-bottom: 19px
    &-top
      &__menu-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        border: none
        background-color: $light
        align-items: center
        justify-content: space-between
        flex-direction: column
        cursor: pointer
        outline: none
  .search
    &__input
      width: 240px
  .menu
    &-button
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-top: 20px
        margin-left: 0
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
      align-items: start
    &-info
      &__text
        width: 100%
      &__rating
        display: none
      &__name
        margin-top: 10px
        margin-bottom: 0
  .offer
    order: -1
    margin-left: 0
  .hotel
    &__slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .first-info
    padding: 15px 21px 15px 17px
  .newsletter
    padding-top: 76px
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
    &-title
      margin-bottom: 37px
  .parallax-window
    min-height: 319px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -85px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -85px
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .packages
    &-advisor
      width: 95%
      &-item
        height: 475px
        &__booking-price
          row-gap: 15px
          align-items: center
          grid-template-columns: 2fr 4fr
        &__price
          &-old
            grid-column: 1/2
            margin: 0
        &__button
          grid-column: 1/3
        &__room
          margin-bottom: 8px
  .first-description
    margin-bottom: 20px
  .first-booking
    margin-bottom: 20px
  .first-title
    margin-bottom: 15px
  .footer
    &__input
      &-group
        flex-basis: 100%
    &-wrapper
      column-gap: 20px
    &-copyright
      padding-top: 63px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &-slider
      height: 250px
    &-slider
      margin-bottom: 20px
    &-info
      padding-top: 8px
      padding-bottom: 38px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
        margin-top: 5px
  .subscribe
    width: 100%
    &__input
      max-width: 280px
  &-title
    font-size: 20px
    line-height: 25px
    &__strong
      font-size: 30px
      line-height: 38px
  .card
    width: 100%
  .packages
    &-advisor
      display: block
      margin: auto
      &-item
        height: auto
        margin-bottom: 20px
        &:nth-child(1)
          display: block
        &__image
          max-height: 250px
        &__booking-price
          grid-template-columns: 2fr 10fr
  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      padding: 0 38px
      margin-bottom: 42px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .footer
    padding-top: 69px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 32px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        flex-direction: column
        align-items: flex-start
    &__title
      &--inline
        margin-bottom: 22px
      &--mt
        &--1
          margin-top: 8px
      &--mb
        &--3
          margin-bottom: 15px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      padding-left: 0
    &__text
      margin-top: 25px
    &__contact
      &-detail
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        padding-top: 8px
    &-copyright
      flex-wrap: wrap
      padding-top: 30px
      justify-content: flex-start
      &__ul
        flex-basis: 100%
        justify-content: flex-start
        margin-bottom: 10px
      &__social
        position: static
      &__item
        margin-right: 10px
    &__button
      order: 1
    &__info
      flex-basis: 100%
      margin-bottom: 15px
    &__ul
      padding: 0 0 0 5px
  .modal
    &__dialog
      width: 95%
      padding: 15px 30px
@media (min-width: 993px)
  .navbar
    &-menu
      &__link
        &:hover
          border-bottom: 1px solid $primary
  .booking
    &__button
      &:hover
        box-shadow: 0 0 5px #a07474
  .packages
    &-advisor
      &-item
        &__button
          &:hover
            box-shadow: 0 0 5px #a07474
  .card
    &__button
      &:hover
        box-shadow: 0 0 5px #a07474
  .footer
    &__link
      &:hover
        border-bottom: 1px solid $primary
      &--bb
        &--none
          &:hover
            border-bottom: none
